body
{
	font-family: 'Noto Sans', sans-serif !important;
}

#site-wrapper
{
	width: 1277px;
	height: 800px;
	border: solid;
	border-color: rgb(140, 140, 140);
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.hide
{
	display: none;
}

.menu-item
{
	width: 149px;
	height: 56px;
	padding-top: 15px;
}

.menu-item-2x
{
	width: 149px;
	height: 84px;
	padding-top: 17px;
}

.discrete-button
{
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	font: inherit;
}
