<title>fhem-frontend</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="widget_base_width" content="140">
<meta name="widget_base_height" content="145">
<meta name="gridster_disable" content="1">
<meta name="longpoll" content="1">
<meta name="debug" content="0">

<link rel="stylesheet" href="vendor_unmanaged/fhem-tablet-ui/www/tablet/lib/jquery.gridster.min.css" />
<link rel="stylesheet" href="vendor_unmanaged/fhem-tablet-ui/www/tablet/css/fhem-tablet-ui.min.css" />
<link rel="stylesheet" href="vendor_unmanaged/fhem-tablet-ui/www/tablet/lib/font-awesome.min.css" />
<link rel="stylesheet" href="vendor_unmanaged/fhem-tablet-ui/www/tablet/lib/jquery.toast.min.css" />
<link rel="stylesheet" href="fonts/lato.css" />
<link rel="stylesheet" href="fhem-frontend.css" />

<script type="text/javascript" src="/fhem/pgm2/jquery.min.js"></script>
