<li data-row="1" data-col="1" data-sizex="1" data-sizey="4">
	<header>fhem-frontend</header>
	<div data-type="clock"
		 data-format="H:i"
		 class="bigger">
		 00:00
	</div>
	<div data-type="clock"
		 data-format="l">
		 Montag
	</div>
	<div data-type="clock"
		 data-format="d.m.Y">
		 01.01.2000
	</div>

	<hr>

	<a href="dashboard.ftui.html"><div data-nav-for-page="dashboard" data-type="label" class="fg-orange large top-space">Dashboard</div></a>
	<a href="climate.ftui.html"><div data-nav-for-page="climate" data-type="label" class="fg-orange large top-space">Klima</div></a>
	<a href="lighting.ftui.html"><div data-nav-for-page="lighting" data-type="label" class="fg-orange large top-space">Beleuchtung</div></a>
	<a href="shutters.ftui.html"><div data-nav-for-page="shutters" data-type="label" class="fg-orange large top-space">Rolläden</div></a>
	<a href="windows_doors.ftui.html"><div data-nav-for-page="windows_doors" data-type="label" class="fg-orange large top-space">Fenster<br>Türen</div></a>
	<a href="cameras.ftui.html"><div data-nav-for-page="cameras" data-type="label" class="fg-orange large top-space">Kameras</div></a>
	<a href="media.ftui.html"><div data-nav-for-page="media" data-type="label" class="fg-orange large top-space">Multimedia</div></a>
	<a href="network.ftui.html"><div data-nav-for-page="network" data-type="label" class="fg-orange large top-space">Netzwerk</div></a>
</li>

<li data-row="1" data-col="8" data-sizex="1" data-sizey="4">
	<header>R&auml;ume</header>

	<a href="room_wohnung.ftui.html"><div data-nav-for-page="room_wohnung" data-type="label" class="fg-orange large top-space">Wohnung</div></a>
	<a href="room_wohnzimmer.ftui.html"><div data-nav-for-page="room_wohnzimmer" data-type="label" class="fg-orange large top-space">Wohnzimmer</div></a>
	<a href="room_schlafzimmer.ftui.html"><div data-nav-for-page="room_schlafzimmer" data-type="label" class="fg-orange large top-space">Schlafzimmer</div></a>
	<a href="room_arbeitszimmer.ftui.html"><div data-nav-for-page="room_arbeitszimmer" data-type="label" class="fg-orange large top-space">Arbeitszimmer</div></a>
	<a href="room_kueche.ftui.html"><div data-nav-for-page="room_kueche" data-type="label" class="fg-orange large top-space">K&uuml;che</div></a>
	<a href="room_bad.ftui.html"><div data-nav-for-page="room_bad" data-type="label" class="fg-orange large top-space">Bad</div></a>
	<a href="room_flur.ftui.html"><div data-nav-for-page="room_flur" data-type="label" class="fg-orange large top-space">Flur</div></a>
	<a href="room_keller.ftui.html"><div data-nav-for-page="room_keller" data-type="label" class="fg-orange large top-space">Keller</div></a>
	<a href="room_aussen.ftui.html"><div data-nav-for-page="room_aussen" data-type="label" class="fg-orange large top-space">Außen</div></a>
</li>
