<li data-row="1" data-col="1" data-sizex="1" data-sizey="4">
	<header>fhem-frontend</header>

	<button class="discrete-button white" onclick="toggleFullScreen();">
		<div data-type="clock"
			 data-format="H:i"
			 class="tall">
			00:00
		</div>
		<div data-type="clock"
			 data-format="l"
			 class="normal">
			Montag
		</div>
		<div data-type="clock"
			 data-format="d.m.Y"
			 class="normal">
			01.01.2000
		</div>
	</button>

	<hr>

	<a href="dashboard.ftui.html"><div data-nav-for-page="dashboard" data-type="label" class="orange large menu-item">Dashboard</div></a>
	<a href="climate.ftui.html"><div data-nav-for-page="climate" data-type="label" class="orange large menu-item">Klima</div></a>
	<a href="lighting.ftui.html"><div data-nav-for-page="lighting" data-type="label" class="orange large menu-item">Beleuchtung</div></a>
	<a href="shutters.ftui.html"><div data-nav-for-page="shutters" data-type="label" class="orange large menu-item">Rolläden</div></a>
	<a href="windows_doors.ftui.html"><div data-nav-for-page="windows_doors" data-type="label" class="orange large menu-item-2x">Fenster<br>Türen</div></a>
	<a href="cameras.ftui.html"><div data-nav-for-page="cameras" data-type="label" class="orange large menu-item">Kameras</div></a>
	<a href="media.ftui.html"><div data-nav-for-page="media" data-type="label" class="orange large menu-item">Multimedia</div></a>
	<a href="network.ftui.html"><div data-nav-for-page="network" data-type="label" class="orange large menu-item">Netzwerk</div></a>
</li>

<li data-row="1" data-col="8" data-sizex="1" data-sizey="4">
	<header>R&auml;ume</header>

	<a href="room_wohnung.ftui.html"><div data-nav-for-page="room_wohnung" data-type="label" class="orange large menu-item">Wohnung</div></a>
	<a href="room_wohnzimmer.ftui.html"><div data-nav-for-page="room_wohnzimmer" data-type="label" class="orange large menu-item">Wohnzimmer</div></a>
	<a href="room_schlafzimmer.ftui.html"><div data-nav-for-page="room_schlafzimmer" data-type="label" class="orange large menu-item">Schlafzimmer</div></a>
	<a href="room_arbeitszimmer.ftui.html"><div data-nav-for-page="room_arbeitszimmer" data-type="label" class="orange large menu-item">Arbeitszimmer</div></a>
	<a href="room_kueche.ftui.html"><div data-nav-for-page="room_kueche" data-type="label" class="orange large menu-item">K&uuml;che</div></a>
	<a href="room_bad.ftui.html"><div data-nav-for-page="room_bad" data-type="label" class="orange large menu-item">Bad</div></a>
	<a href="room_flur.ftui.html"><div data-nav-for-page="room_flur" data-type="label" class="orange large menu-item">Flur</div></a>
	<a href="room_keller.ftui.html"><div data-nav-for-page="room_keller" data-type="label" class="orange large menu-item">Keller</div></a>
	<a href="room_aussen.ftui.html"><div data-nav-for-page="room_aussen" data-type="label" class="orange large menu-item">Außen</div></a>
</li>
