<li data-row="1" data-col="1" data-sizex="1" data-sizey="4">
	<header>Bereiche</header>
	<div data-type="clock"
		 data-format="H:i"
		 class="bigger">
	</div>
	<div data-type="clock"
		 data-format="l">
	</div>
	<div data-type="clock"
		 data-format="d.m.Y">
	</div>

	<hr>

	<a href="dashboard.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Dashboard</div></a>
	<a href="climate.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Klima</div></a>
	<a href="lighting.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Beleuchtung</div></a>
	<a href="shutters.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Rolläden</div></a>
	<a href="windows_doors.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Fenster<br>Türen</div></a>
	<a href="cameras.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Kameras</div></a>
	<a href="media.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Multimedia</div></a>
	<a href="network.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Netzwerk</div></a>
</li>

<li data-row="1" data-col="8" data-sizex="1" data-sizey="4">
	<header>R&auml;ume</header>

	<a href="room_wohnung.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Wohnung</div></a>
	<a href="room_wohnzimmer.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Wohnz.</div></a>
	<a href="room_schlafzimmer.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Schlafz.</div></a>
	<a href="room_arbeitszimmer.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Arbeitsz.</div></a>
	<a href="room_kueche.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">K&uuml;che</div></a>
	<a href="room_bad.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Bad</div></a>
	<a href="room_flur.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Flur</div></a>
	<a href="room_keller.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Keller</div></a>
	<a href="room_aussen.ftui.html"><div data-type="label" data-icon="" class="fg-orange large top-space">Außen</div></a>
</li>
